@import url(font-awesome.min.css);
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwPIsWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIouWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lCds18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclSds18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: black;
  background-color: #04dbab;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", Helvetica, sans-serif;
  color: black;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  font-size: 1.6rem;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
.navigation {
  position: fixed;
  z-index: 30;
  display: flex;
  background-color: #49fcd4;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}
@media (max-width:500px) {
  .navigation {
    flex-direction: column;
    align-content: center;
    position: relative;
    width: 100%;
  }
}
.navigation h1 {
  font-size: 3.1rem;
  padding: 2% 0%;
  width: 33%;
  text-align: center;
  border: 4px dashed #03a984;
}
@media (max-width:500px) {
  .navigation h1 {
    width: 100%;
  }
}
@media (max-width:1000px) {
  .navigation h1 {
    font-size: 3rem;
    padding: 2% 2%;
  }
}
.navigation nav {
  margin: 0 2%;
  display: flex;
  text-align: center;
  width: 60%;
}
@media (max-width:500px) {
  .navigation nav {
    flex-direction: column;
    margin: 2% auto;
    width: 100%;
  }
}
.navigation nav a {
  padding: 4% 1%;
  margin: 0% 0%;
  font-weight: bold;
  text-decoration: none;
  width: 20%;
  font-size: 2rem;
  color: black;
}
.navigation nav a:hover {
  color: white;
  background-color: #04dbab;
  font-size: 2.3rem;
}
.navigation nav a.nav-a-selected {
  color: white;
  background-color: #03a984;
  font-size: 2.3rem;
}
.navigation nav a:last-child {
  border: 4px dashed #03a984;
}
@media (max-width:1000px) {
  .navigation nav a {
    padding: 5% 1%;
    font-size: 1.8rem;
  }
}
@media (max-width:500px) {
  .navigation nav a {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    padding: 3% 3%;
    margin: 0 auto;
    border-top: 2px solid #03a984;
  }
}
.intro-about {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 0%;
  margin-bottom: 2%;
}
.intro-about .imgblock {
  margin-top: 13%;
  display: flex;
  flex-flow: row;
  width: 100%;
}
.intro-about .imgblock .imgblock-div {
  width: 50%;
}
.intro-about .imgblock .imgblock-div img {
  width: 100%;
  margin: 4%;
  border-radius: 30px;
  padding: 2%;
}
.intro-about .imgblock h2 {
  width: 50%;
  font-size: 6rem;
  padding: 4%;
}
@media (max-width: 700px) {
  .intro-about .imgblock h2 {
    font-size: 4rem;
  }
}
@media (max-width:500px) {
  .intro-about .imgblock {
    display: none;
  }
}
.intro-about .intro-blurb {
  padding: 2%;
  margin-bottom: 2%;
  font-size: 1.8rem;
}
.intro-about .intro-blurb h2 {
  margin: 2%;
}
.intro-about .intro-blurb p {
  margin: 2%;
  font-size: 2rem;
}
.intro-about .intro-blurb p strong {
  font-weight: bold;
  color: #02775d;
}
@media (max-width:500px) {
  .intro-about .intro-blurb {
    margin-top: 2%;
  }
}
.content-row {
  margin: 2% auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
}
@media (max-width:500px) {
  .content-row {
    flex-direction: column;
  }
}
.content-row .feature-blurb {
  margin: 2%;
  width: 33%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.content-row .feature-blurb h2 {
  margin: 2%;
  text-align: center;
}
.content-row .feature-blurb img {
  margin: 2%;
  width: 90%;
  height: auto;
  border-radius: 20px;
}
@media (max-width:500px) {
  .content-row .feature-blurb img {
    margin: 2% auto;
  }
}
.content-row .feature-blurb p {
  margin: 3%;
  font-size: 1.6rem;
}
@media (max-width:500px) {
  .content-row .feature-blurb p {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .content-row .feature-blurb {
    width: 100%;
    margin: 3% auto;
  }
}
.stories-intro {
  padding-top: 13%;
}
.stories-intro h2 {
  margin: 0 14%;
  color: #02775d;
}
@media (max-width: 1000px) {
  .stories-intro {
    padding-top: 18%;
    font-size: 3.3rem;
  }
}
@media (max-width:500px) {
  .stories-intro {
    padding-top: 11%;
    margin: 0 5%;
    font-size: 3rem;
  }
}
.party-stories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
  padding-bottom: 10%;
}
.tab-row {
  margin: 2%;
  width: 30%;
}
.tab-row h3 {
  text-align: center;
}
.tab-row .tab {
  font-size: 1.9rem;
  text-align: center;
  font-weight: bolder;
  margin: 3%;
  padding: 10%;
  border: 3px dashed #03a984;
}
.tab-row .tab:hover {
  background-color: #03a984;
  color: white;
  font-size: 2.2rem;
}
.tab-row .tab-selected {
  background-color: #03a984;
  color: white;
}
@media (max-width:500px) {
  .tab-row {
    display: none;
  }
}
.tab-content {
  width: 50%;
}
.tab-content .party-story {
  display: none;
  margin: 1%;
  border: 3px dashed #014536;
  padding: 2%;
}
.tab-content .party-story img {
  width: 100%;
  border-radius: 30px;
  margin: 1%;
}
.tab-content .party-story h3 {
  margin: 1%;
  text-align: center;
}
.tab-content .party-story p {
  margin: 1%;
}
@media (max-width:500px) {
  .tab-content .party-story p {
    font-size: 1.8rem;
  }
}
@media (max-width:500px) {
  .tab-content .party-story {
    margin: 2%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }
}
.tab-content .party-story-selected {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
@media (max-width:500px) {
  .tab-content {
    width: 100%;
    margin: 2%;
  }
}
.tab-row-team {
  padding-top: 11%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.tab-row-team .tab-team {
  width: 15%;
  text-align: center;
  padding: 1%;
  font-size: 1.8rem;
  margin: 1%;
  border: 3px dashed #02775d;
}
.tab-row-team .tab-team-selected {
  color: white;
  background-color: #02775d;
  font-weight: bolder;
  padding: 0.8%;
  font-size: 1.9rem;
}
@media (max-width:500px) {
  .tab-row-team {
    display: none;
  }
}
@media (max-width:1000px) {
  .tab-row-team {
    padding-top: 13%;
  }
}
@media (max-width: 700px) {
  .tab-row-team {
    padding-top: 18%;
  }
}
.team-box {
  width: 100%;
  margin-top: 2%;
  padding: 1% 2%;
}
@media (max-width:500px) {
  .team-box {
    padding-top: 10%;
    background-color: #02775d;
  }
}
.team-profiles {
  display: none;
}
.team-profiles h2 {
  display: none;
}
@media (max-width:500px) {
  .team-profiles h2 {
    display: block;
    width: 100%;
    margin: 1%;
  }
}
@media (max-width:500px) {
  .team-profiles {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    border: 2px dashed #02775d;
    background-color: white;
  }
}
.team-profiles-selected {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}
.team-profiles-selected h2 {
  display: none;
}
@media (max-width:500px) {
  .team-profiles-selected h2 {
    display: block;
    width: 100%;
    margin: 1%;
  }
}
.team-box {
  width: 100%;
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 30%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.team-member {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  width: 40%;
  margin: 5%;
}
.team-member .team-member-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  width: 40%;
}
.team-member .team-member-text h3 {
  font-size: 2.4rem;
  margin: 2%;
  text-align: left;
}
.team-member .team-member-text p {
  margin: 3%;
  text-align: left;
  width: 100%;
}
@media (max-width:500px) {
  .team-member .team-member-text {
    width: 50%;
  }
}
.team-member img {
  border-radius: 60px;
  width: 30%;
  height: 100%;
  margin-right: 5%;
}
@media (max-width: 800px) {
  .team-member {
    width: 70%;
  }
}
@media (max-width:500px) {
  .team-member {
    width: 80%;
    justify-content: center;
  }
}
footer {
  background-color: #49fcd4;
  width: 100%;
  text-align: center;
}
footer h2 {
  font-size: 1.8rem;
}
@media (max-width:500px) {
  footer h2 {
    font-size: 2rem;
  }
}
