
.intro-about{
    display:flex;
    flex-direction: column;
    align-content: center;
    margin-top: 0%;
    margin-bottom: 2%;

    .imgblock {
        margin-top: 10%;
        display:flex;
        flex-flow: row;
        width: 100%;

        img{
            width:50%;
            height: 50%;
            border-radius: 30px;
        }

        h2{
            width: 50%;
            font-size: 6.0rem;
        }
     
     
        @media @phone{
            display:none;
        }
    }
    .intro-blurb{
        
        margin-bottom: 2%;
        h2{
            margin: 2%;
        }
        p {
            margin:2%;
            font-size:1.8rem;
            
        }
        @media @phone{
            margin-top:2%;
        }
    }

}

.content-row{
    margin: 2% auto;
    width:100%;
    display:flex;
    flex-direction: row;
    align-content: center;
    @media @phone{
        flex-direction:column;
    }
    .feature-blurb {
        margin: 2%;
        width:33%;
        display:flex;
        flex-flow: column wrap;
        align-content: center;
        h2{
            margin: 2%;
            text-align: center;
        }
        img{
            margin: 2%;
            width: 90%;
            height: auto;
            border-radius: 20px;
            @media @phone{
                margin: 2% auto;
            }
        }
        p{
            margin: 2%;
            
        }
        @media @phone{
            width: 100%;
            margin: 3% auto;
        }
        
    }
}