
.navigation{
    position:fixed;
    z-index:30;
    display:flex;
    background-color: @dominant-color;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    @media @phone{
        flex-direction: column;
        align-content:center;
        position: relative;
        width: 100%;
    }
    h1{
        font-size: 3.1rem;
        padding: 2% 0%;
        width:33%;
        text-align:center;
        border: 4px dashed darken(@dominant-color,30%);
        @media @phone{
            width: 100%;
        }
        @media @intermediate{
            font-size:3.0rem;
            padding: 2% 2%;
        }
    }

    nav{
        margin: 0 2%;
        display:flex;
        text-align: center;
        
        width: 60%;
        @media @phone{
            flex-direction: column;
            margin: 2% auto;
            width: 100%;
        }
        a{
            padding:  4% 1%;
            margin: 0% 0%;
            font-weight: bold;
            text-decoration: none;
            width:20%;
            font-size:2.0rem;
            color: black;
            &:hover{
                color:white;
                background-color:darken(@dominant-color, 30%);
                font-size: 2.3rem;
            }
            &:last-child{
                border: 4px dashed darken(@dominant-color,30%);
            }
            @media @intermediate{
                padding: 5% 1%;
                font-size: 1.8rem;
            }
            @media @phone{
                width: 100%;
                text-align: center;
                font-size: 2.4rem;
                padding: 3% 3%;
                margin: 0 auto;
                border-top: 2px solid darken(@dominant-color,30%)
            }
        }
    }
}