.navigation{
    display:flex;
    background-color: @dominant-color;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    h1{
        width:33%;
        text-align:center;
        border: 2px solid black;
    }
    a{
        width:20%;
    }
    nav{
        margin: 0 2%;
        display:flex;
        text-align: center;
        width: 60%;
        a{
            margin:1% 1%;
        }
    }
}